<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wt.ptrngame" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <activity
            android:name=".levelMenuActivity"
            android:label="@string/title_activity_level_menu"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wt.ptrngame.MainActivity" />
        </activity>
        <activity
            android:name=".levelOne"
            android:label="@string/title_activity_level_one"
            android:parentActivityName=".levelMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wt.ptrngame.levelMenuActivity" />
        </activity>
        <activity
            android:name=".infopage"
            android:label="@string/title_activity_infopage"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wt.ptrngame.MainActivity" />
        </activity>
        <activity
            android:name=".levelTwo"
            android:label="@string/title_activity_level_two"
            android:parentActivityName=".levelMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wt.ptrngame.levelMenuActivity" />
        </activity>
        <activity
            android:name=".levelThree"
            android:label="@string/title_activity_level_three" >
        </activity>
        <activity
            android:name=".levelFour"
            android:label="@string/title_activity_level_four"
            android:parentActivityName=".levelMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wt.ptrngame.levelMenuActivity" />
        </activity>
        <activity
            android:name=".levelFive"
            android:label="@string/title_activity_level_five"
            android:parentActivityName=".levelMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wt.ptrngame.levelMenuActivity" />
        </activity>
        <activity
            android:name=".levelSix"
            android:label="@string/title_activity_level_six"
            android:parentActivityName=".levelMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wt.ptrngame.levelMenuActivity" />
        </activity>
        <activity
            android:name=".levelSeven"
            android:label="@string/title_activity_level_seven"
            android:parentActivityName=".levelMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wt.ptrngame.levelMenuActivity" />
        </activity>
        <activity
            android:name=".levelEight"
            android:label="@string/title_activity_level_eight" >
        </activity>
        <activity
            android:name=".levelNine"
            android:label="@string/title_activity_level_nine"
            android:parentActivityName=".levelMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wt.ptrngame.levelMenuActivity" />
        </activity>
        <activity
            android:name=".levelTen"
            android:label="@string/title_activity_level_ten"
            android:parentActivityName=".levelMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wt.ptrngame.levelMenuActivity" />
        </activity>
        <activity
            android:name=".lockLevel"
            android:label="@string/title_activity_lock_level"
            android:parentActivityName=".levelMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wt.ptrngame.levelMenuActivity" />
        </activity>
        <activity
            android:name=".orangeworld_menu"
            android:label="@string/title_activity_orangeworld_menu"
            android:parentActivityName=".levelMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wt.ptrngame.MainActivity" />
        </activity>
    </application>

</manifest>
